#heading
{
font-size:170%;
font-style:oblique;
}


#journey1
{
font-size:150%;
font-style:oblique;
}

#journey2
{
font-size:150%;
font-style:oblique;
}

#journey3
{
font-size:150%;
font-style:oblique;
}

